@model ProjectTask

@{
    ViewData["Title"] = "Create Tasks";
}

<h1>Create</h1>
<h4>Project Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Task" asp-action="Create" method="post">
            <!--Validation-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.projectId)

            <div class="form-group">
                <label asp-for="TaskName" class="control-label">Title</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label">Description</label>
                <textarea asp-for="TaskDescription" class="form-control"></textarea>
            </div>

           

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" asp-route-projectId="@Model.projectId" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
