@model ProjectTask

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<form asp-action ="Edit" method="post">
            @Html.HiddenFor(model => model.TaskId)

            
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control"></input>
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <textarea asp-for="TaskDescription" class="form-control"></textarea>
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectId" class="control-label"></label>
                <label asp-for="projectId" asp-itmes="ViewBag.Projects"></label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" asp-route-projectId="@Model.projectId" class="btn btn-secondary">Back to List</a>
            </div>

</form>
 


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
